= title(resource.title)
.row
  = render "info", question: resource, show_comments: true

.row
  .col-sm-11.col-sm-offset-1
    %hr

    = render "answers/form", question: resource

    #question-answers
      - resource.answers.each do |answer|
        = render "answers/rendered_answer", answer: answer