.row
  .col-lg-12
    .well
      .row
        .col-sm-1
          = render "votes/voting", voteable: answer
        .col-sm-11
          %p= answer.content
          %p
            = render "components/poster", postable: answer
          = render "comments/comment_area", commentable: resource